@import '/src/main.css';

#side-nav {
    z-index: 100;
    display: grid;
    gap: 2rem;
    align-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--side-nav-background);
    color: var(--color-light);
    padding: 2rem 1rem 4rem;
    width: var(--side-nav-width);
    height: 100vh;
    will-change: transform;
    transform: translateX(0);
    transition: transform ease-in-out var(--transition-duration-medium);
}

#side-nav[data-animating="true"] {
    transition: none;
}

#side-nav[aria-hidden="true"] {
    transform: translateX(-100%);
}

#side-nav[aria-hidden="true"] ~ #background-dimmer {
    background-color: transparent;
    pointer-events: none;
}

#background-dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
    transition: background-color ease-in var(--transition-duration-medium);
    z-index: 99;
}

#side-nav-content {
    display: grid;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

#side-nav-details {
    align-self: end;
    display: flex;
    margin-top: auto;
    flex-direction: column;
}

#side-nav-details summary {
    margin: 1.5rem 0;
}

#side-nav-details * + * {
    margin-top: 1rem;
}

#contacts {
    font-size: .8em;
    opacity: .86;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--top-bar-height);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem;
    background-color: var(--side-nav-background);
    color: var(--color-light);
    z-index: 98;
}

#top-bar-title {
    margin: 0;
    text-align: center;
}

#toggle-button {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
}

#toggle-button rect {
    fill: currentColor;
}

@media only screen and (min-width: 768px) {
    #side-nav {
        z-index: 99;
        padding: calc(60px + 2rem) 1rem 4rem;
    }

    #toggle-button {
        display: none;
    }

    #top-bar {
        z-index: 100;
        grid-template-columns: 1fr;
    }

    #top-bar-title {
        text-align: left;
    }

    #background-dimmer {
        display: none;
    }
}