*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-dark: #242424;
    --color-dark-contrast: #121212;
    --color-light: #ececec;
    --color-light-contrast: white;
    --color-accent-blue: #0B4ECB;

    --theme-foreground: var(--color-dark);
    --theme-foreground-contrast: var(--color-dark-contrast);
    --theme-background: var(--color-light);
    --theme-background-contrast: var(--color-light-contrast);

    --border-radius: 8px;

    --side-nav-width: 300px;
    --top-bar-height: 60px;

    --box-shadow-small: 0 1px 2px rgba(0, 0, 0, .16);

    --transition-duration-fast: 80ms;
    --transition-duration-medium: 200ms;
    --transition-duration-long: 350ms;

    --inner-padding: .28em .64em;
}

body {
    font-family: sans-serif;
    color: var(--theme-foreground);
    background-color: var(--theme-background-contrast);
    margin: 0;
}

body[data-theme="dark"] {
    --theme-foreground: var(--color-light);
    --theme-foreground-contrast: var(--color-light-contrast);
    --theme-background: var(--color-dark);
    --theme-background-contrast: var(--color-dark-contrast);

    --box-shadow-small: 0 1px 2px rgba(255, 255, 255, .16);
}

a,
::slotted(a) {
    color: inherit;
    text-decoration: none;
    transition: opacity ease-in-out var(--transition-duration-fast);
}

a:hover,
button:hover {
    opacity: .7;
}

a,
button,
select,
details > summary {
    cursor: pointer;
}

select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid currentColor;
    padding: .28em .64em;
    border-radius: var(--border-radius);
}

select option {
    color: inherit;
    background-color: inherit;
}

abbr {
    cursor: help;
}

main {
    padding: 1rem;
    margin-top: var(--top-bar-height);
}

@media only screen and (min-width: 768px) {
    :root {
        --side-nav-width: 240px;
    }

    main {
        margin-top: calc(var(--top-bar-height) + 1.5rem);
        margin-left: var(--side-nav-width);
    }
}