*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --top-bar-height: 60px;
    --side-nav-width: 300px;

    --color-dark: #232324;
    --color-darker: #1b1a1b;
    --color-light: #eeeeee;

    --side-nav-background: var(--color-light);

    --border-radius: 6px;

    --transition-duration-fast: 80ms;
    --transition-duration-medium: 200ms;
    --transition-duration-long: 350ms;

    font-size: 16px;
}

body {
    font-family: sans-serif;
    margin: 0;
}

body[data-theme="dark"] {
    --side-nav-background: var(--color-darker);

    background-color: var(--color-dark);
    color: var(--color-light);
}

a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    transition: filter ease-in-out var(--transition-duration-fast);
}

a:hover {
    filter: brightness(78%);
}

button,
details > summary {
    cursor: pointer;
}

select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid currentColor;
    padding: .5em 1em;
    border-radius: var(--border-radius);
}

main {
    padding: 1rem;
    margin-top: var(--top-bar-height);
}

@media only screen and (min-width: 768px) {
    :root {
        --side-nav-width: 260px;
    }

    main {
        margin-left: var(--side-nav-width);
    }
}