*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-dark: #242424;
    --color-dark-contrast: #121212;
    --color-light: #ececec;
    --color-light-contrast: white;
    --color-accent-blue: #0B4ECB;

    --theme-foreground: var(--color-dark);
    --theme-foreground-contrast: var(--color-dark-contrast);
    --theme-background: var(--color-light);
    --theme-background-contrast: var(--color-light-contrast);

    --border-radius: 8px;

    --side-nav-width: 300px;
    --top-bar-height: 60px;

    --transition-duration-fast: 80ms;
    --transition-duration-medium: 200ms;
    --transition-duration-long: 350ms;

    --font-family-fira: 'Fira Sans', sans-serif;
    --inner-padding: .28em .64em;

    font-size: 16px;
}

body {
    font-family: var(--font-family-fira);
    color: var(--theme-foreground);
    background-color: var(--theme-background-contrast);
    margin: 0;
}

body[data-theme="dark"] {
    --theme-foreground: var(--color-light);
    --theme-foreground-contrast: var(--color-light-contrast);
    --theme-background: var(--color-dark);
    --theme-background-contrast: var(--color-dark-contrast);
}

a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    transition: opacity ease-in-out var(--transition-duration-fast);
}

a:hover,
button:hover {
    opacity: .7;
}

a,
button,
select,
details > summary {
    cursor: pointer;
}

button {
    font-size: inherit;
    font-family: inherit;
    color: var(--theme-foreground-contrast);
    background-color: var(--theme-background);
    padding: .65em 1.5em;
    border: none;
    border-radius: var(--border-radius);
}

select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid currentColor;
    padding: .28em .64em;
    border-radius: var(--border-radius);
}

main {
    padding: 1rem;
    margin-top: var(--top-bar-height);
}

@media only screen and (min-width: 768px) {
    :root {
        --side-nav-width: 260px;
    }

    main {
        margin-left: var(--side-nav-width);
    }
}